apiVersion: cis.f5.com/v1
kind: TLSProfile
metadata:
  name: offload-tls-profile
  namespace: nginx-ingress
  labels:
    f5cr: "true"
spec:
  tls:
    termination: edge
    clientSSL: /Common/clientssl
    reference: bigip
  hosts:
  - https.f5demo.io
---
apiVersion: "cis.f5.com/v1"
kind: VirtualServer 
metadata:
  name: cis-vs-ingress-443
  namespace: nginx-ingress
  labels: 
    f5cr: "true"
spec:
  host: https.f5demo.io
  tlsProfileName: offload-tls-profile
  httpTraffic: redirect
  virtualServerName: cis-vs-ingress-443
  virtualServerAddress: "10.1.1.13" #--> update as needed
  virtualServerHTTPPort: 443 #--> update as needed
  persistenceProfile: "cookie"
  pools:
  - path: /
    service: svc-nginx-ingress
    servicePort: 80 #--> adjust to match targetPort of the service
    loadBalancingMethod: fastest-node
    monitor:
      type: http
      send: "GET /"
      recv: ""
      interval: 5
      timeout: 16